{% extends 'base.html.twig' %}

{% block settings %}
    <div id="settings" >
        <h2>{{ comp.startTime|date('H:i') }}</h2>
        {{ json }}
    </div>
{% endblock %}
{% block body %}
    <h1 class="title">{{ comp.name }}</h1>
{% endblock %}